<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Voca App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/write">Write</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/list">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/mypage">MyPage</a>
      </li>
      </ul>
      <% if (!user) { %>
        <p class="text-muted mr-sm-4 my-2"><a style="text-decoration:none;"href="/login" class="text-reset">Login</a></p>
      <%} else { %>
        <p class="text-muted mr-sm-4 my-2"><a style="text-decoration:none;" class="text-reset">안녕하세요, <%=user.result.name%>님</a></p>
        <p class="text-muted mr-sm-4 my-2"><a style="text-decoration:none;"href="/logout" class="text-reset">Logout</a></p>
      <% } %>
      <form action="/search" method="GET" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="data">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
</nav>